[submodule "subDir/eCommerce"]
	path = subDir/eCommerce
	url = https://github.com/codingforentrepreneurs/eCommerce.git
[submodule "subDir1/eCommerce"]
	path = subDir1/eCommerce
	url = https://github.com/codingforentrepreneurs/eCommerce.git
